<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no"/>
	<title>{{title}}</title>
	<style type="text/css">
		body {
			font-family: 微软雅黑;
			/*font-size: 14px;*/
		}
		.content_img {
			text-align: center;
			margin: 5px;
		}
	</style>
</head>
<body>
	<h3 style=""><a href="{{url}}" style="text-decoration: blink; color: black;">{{title}}</a></h3>
	<div style="padding:10px 5px;border-bottom:1px solid #d2d2d2;border-top:1px solid #d2d2d2;">喜欢:{{likers_count}}  回复:{{comments_count}}</div>
	<div style="height:15px;"></div>
	{{content}}
	<div>
	<div style="color: gray;font-size: 0.9em;margin: 10px 0;">
		@版权申明<br/>
		本文版权归 {{author.name}} 所有，任何形式转载请联系作者。
	</div>
	<table style="font-size:0.9rem;border-top: 1px solid gray;border-bottom: 0px solid gray;width: 100%;background: whitesmoke;">
		<tr>
			<td style="width:60px;vertical-align: top;">
				<img style="width:50px;border: 1px solid #dedede; border-radius: 50%;" src="{{author.avatar}}" />
			</td>
			<td style="text-align:left">
				<span>作者</span> <span style="font-weight: bold; margin:0;">{{author.name}}</span>
				<p style="margin: 0;">{{author.abstract}}</p>
			</td>
		</tr>
	</table>
	<div style="padding:10px 5px;border-bottom:1px solid #d2d2d2;border-top:1px solid #d2d2d2;">喜欢:{{likers_count}}  回复:{{comments_count}}</div>
	{% for c in comments %}
		<table style="font-size:0.9rem;">
			<tr>
				<td style="width:60px;vertical-align: top;">
					<img style="width:50px;border: 1px solid #dedede; border-radius: 50%;" src="{{c.author.avatar}}" />
				</td>
				<td style="text-align:left;vertical-align: middle;height: 60px;">
					<span style="font-weight: bold;">{{c.author.name}}</span>
					<br/>
					<span style="font-size:0.8rem;">{{c.create_time}}</span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					{%if c.ref_comment%}
					<p style="margin-left:5px;border-left:2px solid #c1c1c1;padding-left:5px;font-size:0.8em; margin:2px 0;">
						{{c.ref_comment.text|truncate(50)}} <span style="font-weight: bold;">{{c.ref_comment.author.name}}</span>
					</p>
					{%endif%}
					<p style="margin:2px 0;">{{c.text}}</p>
				</td>
			</tr>
		</table>
		<hr />
	{% endfor %}
	</div>
</body>
</html>